main
  display: flex


.left
  border: 1px solid #f5f5
  width: 35%

  .cardsLeft
    width: 80%
    border: 1px solid
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0 auto

  .cardPerfil
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
