
body
  .container
    width: 95%
    margin: 0 auto

header
  display: flex
  width: 100%
  height: 7rem
  align-items: center
  justify-content: space-between
  padding: 0 5% 0 5%
  background: rgba(0,0,0,0.8)
  backdrop-filter: blur(10px)
  position: sticky
  top: 0

  ul
    display: flex
    li
      padding: 1rem
      border: 1px solid #bbb
      a
        cursor: pointer
