.right
  width: 100%

  .contentProjects
    width: 100%
    margin-top: 4rem

    .myProjects
      display: flex
      align-items: center
      justify-content: space-between
      padding: 2rem
      margin: 2rem
      background: rgba(48,47,61,1)
      border-radius: 1.5rem

    
    .cardsContent
      display: flex
      align-items: center

      .cardProject
        width: 50%
        padding: 2rem
        margin: 2rem
        background: rgba(48,47,61,1)
        border-radius: 1.5rem
  
  .contentNetworking

    .networkPosts
      padding: 2rem

      .myPosts
        display: flex
        align-items: center
        justify-content: space-between
        padding: 2rem
        background: rgba(48,47,61,1)
        border-radius: 1.5rem 

      .networkContent
        margin-top: 4rem
        padding: 2rem
        background: rgba(48,47,61,1)
        border-radius: 1.5rem 

  .contentYoutube
    display: flex

    .youtubePosts
      width: 50%
      padding: 2rem

      .contentVideo
        padding: 2rem
        background: rgba(48,47,61,1)
        border-radius: 1.5rem
    
  .form
    padding: 2rem

    .contentForm
      padding: 2rem
      background: rgba(48,47,61,1)
      border-radius: 1.5rem

      .cententInfoForm
        display: flex
        flex-direction: column

  .chatBot
    display: flex
    justify-content: flex-end
    margin-top: 20rem
    padding: 2rem
    bottom: 0rem
    position: sticky

    .contentChatBot
      width: 8rem
      height: 8rem
      background: rgba(48,47,61,1)
      border-radius: 100rem