* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  -webkit-font-smoothing: antialiased;
  background: rgb(34, 33, 44);
  color: rgb(131, 126, 159);
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

body .container {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  width: 100%;
  height: 7rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  background: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header ul {
  display: flex;
}
header ul li {
  padding: 1rem;
  border: 1px solid #bbb;
}
header ul li a {
  cursor: pointer;
}

main {
  display: flex;
}

.left {
  width: 50%;
}
.left .cardsLeft {
  width: 90%;
  display: flex;
  flex-direction: column;
  background: rgb(48, 47, 61);
  padding: 2rem;
  margin-top: 4rem;
  border-radius: 1.5rem;
}
.left .cardPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right {
  width: 100%;
}
.right .contentProjects {
  width: 100%;
  margin-top: 4rem;
}
.right .contentProjects .myProjects {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .contentProjects .cardsContent {
  display: flex;
  align-items: center;
}
.right .contentProjects .cardsContent .cardProject {
  width: 50%;
  padding: 2rem;
  margin: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .contentNetworking .networkPosts {
  padding: 2rem;
}
.right .contentNetworking .networkPosts .myPosts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .contentNetworking .networkPosts .networkContent {
  margin-top: 4rem;
  padding: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .contentYoutube {
  display: flex;
}
.right .contentYoutube .youtubePosts {
  width: 50%;
  padding: 2rem;
}
.right .contentYoutube .youtubePosts .contentVideo {
  padding: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .form {
  padding: 2rem;
}
.right .form .contentForm {
  padding: 2rem;
  background: rgb(48, 47, 61);
  border-radius: 1.5rem;
}
.right .form .contentForm .cententInfoForm {
  display: flex;
  flex-direction: column;
}
.right .chatBot {
  display: flex;
  justify-content: flex-end;
  margin-top: 20rem;
  padding: 2rem;
  bottom: 0rem;
  position: -webkit-sticky;
  position: sticky;
}
.right .chatBot .contentChatBot {
  width: 8rem;
  height: 8rem;
  background: rgb(48, 47, 61);
  border-radius: 100rem;
}

footer {
  width: 100%;
  padding: 2rem;
}
footer div {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  display: flex;
  justify-content: flex-end;
  padding-right: 5rem;
}/*# sourceMappingURL=main.css.map */